.cart-table {
  font-style: italic;
  font-size: 16px;
  border-collapse: collapse;
  text-align: center;
}

.cart-table .header {
  background-color: rgba(128, 128, 128, 0.1);
}
.cart-table .header > th {
  padding: 10px;
  font-weight: 500;
}
.cart-table tr td {
  padding: 20px 0;
}
.cart-table .product {
  font-weight: 600;
}
.cart-table .price,
.total {
  color: rgba(128, 128, 128, 0.5);
}

.cart-table img {
  width: 50%;
}

.cart-table .delete {
  width: 15px;
  fill: grey;
  cursor: pointer;
}

.footer {
  font-style: italic;
  background-color: rgba(128, 128, 128, 0.1);
  width: 94%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer svg {
  width: 15px;
  margin: 0 10px;
  cursor: pointer;
}
.footer .left-footer,
.footer .right-footer {
  color: grey;
  display: flex;
  cursor: pointer;
  align-items: center;
}
.footer .right-footer {
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
}
