.list-container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 25%;
  font-size: 12x;
  text-align: center;
  /* padding: 20px; */
}
.item .price {
  color: grey;
}

.item img {
  width: 100%;
}

.item img:hover {
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.7;
}
