.detail-container {
  padding-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* CSS image */
.image {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 10px;
}

.image .large {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
}
.image .large > img {
  width: 100%;
}

.image .small {
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  cursor: pointer;
}
.image .small > img {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
}

/* CSS content */
.detail-container .title {
  font-style: italic;
}
.detail-container .price {
  font-style: italic;
  color: rgba(128, 128, 128, 0.5);
}
.detail-container .desc {
  color: grey;
}
.detail-container .category {
  font-style: italic;
  font-weight: 600px;
  padding: 20px 0;
}
.detail-container .category > span {
  color: grey;
}

.detail-container .add-to-cart {
  display: flex;
  width: 65%;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.5);
  /* padding: 20px 10px; */
}
.detail-container .add-to-cart > button {
  width: 65%;
}
.detail-container .add-to-cart > input {
  width: 50%;
}
.detail-container .add-to-cart > label {
  margin-left: 10px;
  color: rgb(128 128 128 / 50%);
  font-style: italic;
}
/* CSS Feature */
.feature .description {
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0;
}

.feature .description-feature {
  width: 100%;
  font-style: italic;
  color: rgba(128, 128, 128, 1);
}

.feature {
  margin-top: 50px;
}
