.register {
  width: 70%;
  margin: auto;
  background-image: url("../../asset/banner1.jpg");
  background-position: -150px -60px;
  background-size: 140%;
  padding: 50px 0 20px 0;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 70px;
}
.form label {
  margin: 0px auto 50px auto;
  color: grey;
  font-size: 30px;
  font-style: italic;
}
.form input {
  width: auto;
  padding: 20px;
}
.form button {
  margin-top: 30px;
  padding: 20px 0;
  font-style: normal;
  background-color: rgba(0, 0, 0, 0.7);
}

.form p {
  color: rgba(128, 128, 128, 0.5);
  font-style: italic;
  margin: 50px auto 0 auto;
}

.form p span {
  color: rgba(0, 0, 255, 0.5);
  cursor: pointer;
}

.error {
  border: 1px solid red;
}

.error-massage {
  color: red;
  margin-bottom: 10px;
}
