/* Banner */
.banner {
  background-color: rgba(128, 128, 128, 0.1);
  padding: 50px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation: showBanner 0.5s ease-in-out;
}
.banner h2,
p {
  font-style: italic;
}
.banner h2 {
  color: rgba(0, 0, 0, 0.7);
}
.banner p {
  color: grey;
}
.banner > p > span {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}

@keyframes showBanner {
  from {
    /* height: 0; */
    transform: translateY(-50%);
  }
  to {
    /* height: 71.85px; */
    transform: translateY(0%);
  }
}
